$nprogress-color: #8bc34a;
$nprogress-height: 6px;
$nprogress-zindex: 10100;
$theme-colors: ( "bootstrap": #007bff, "simpleform": #1976d2 );

@import "bootstrap";
@import "font-awesome";
// @import "summernote";
// @import "codemirror";
// @import "codemirror/themes/solarized";


@import 'nprogress';
@import 'nprogress-bootstrap';

/* latin */
@font-face { font-family: 'Orbitron'; font-style: normal; font-weight: 400; src: local('Orbitron Regular'), local('Orbitron-Regular'), url(https://fonts.gstatic.com/s/orbitron/v9/yMJRMIlzdpvBhQQL_Qq7dy1biN15.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.prayer-clock{ font-family: 'Orbitron', sans-serif !important;
}
.flip-clock-wrapper{text-align: left !important;}
// .login-page{ background: linear-gradient(to right, #f9a610 0%, #c45e96 60%) !important  }
// .login-page{ background: linear-gradient(87deg,#00f2c3 0,#0098f0 100%)!important  }
// .bg-image { background-image: url('https://res.cloudinary.com/muhammadyana/image/upload/v1543116280/siforlat/mosque.png');}
.bg-image { background-image: url("https://res.cloudinary.com/muhammadyana/image/upload/v1543118937/siforlat/mosque-xs.png"); background-repeat: no-repeat; background-attachment: fixed; background-position: center top; }
.mt--16{margin-top: -16rem !important;}

// for landing
.section-shaped .shape-success {background: linear-gradient(150deg, #8bc34a 15%, #7cb342  70%, #689f38 94%)}
.section-shaped .shape-blue {background: linear-gradient(150deg, #007bff 15%, #42a5f5 70%, #1976d2 94%)}
// .section-shaped .shape-purple {background: linear-gradient(150deg, #281483 15%,#8f6ed5 70%,#d782d9 94%)}

#loader {
  border: 14px solid #f3f3f3;
	border-radius: 50%;
	border-top: 14px solid #3498db;
	width: 100px;
	height: 100px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 40%;
	bottom: 0;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.pt-3-rem{
	padding-top: 3rem !important;
}
.pb-10-rem{
	padding-bottom: 10rem !important;
}

.flip-clock-wrapper{
  zoom: 0.9;
  -moz-transform: scale(0.9);
  @media only screen and (max-width: 1280px){
    zoom: 0.8;
    -moz-transform: scale(0.8);
  }
  @media only screen and (max-width: 1200px){
    zoom: 0.6;
    -moz-transform: scale(0.6);
      .flip-clock-label{
        font-size: 16px!important;
      }
  }
  @media only screen and (max-width: 768px){
    zoom: 0.65;
    -moz-transform: scale(0.4);
  }
  @media only screen and (max-width: 767px){
    zoom: 0.9;
    -moz-transform: scale(1);
  }
  @media only screen and (max-width: 685px){
    zoom: 0.8;
    -moz-transform: scale(0.8);
  }
  @media only screen and (max-width: 550px){
    zoom: 0.6;
    -moz-transform: scale(0.6);
  }
  @media only screen and (max-width: 400px){
    zoom: 0.5;
    -moz-transform: scale(0.5);
    margin-bottom: 15px;
  }
  @media only screen and (max-width: 411px){
    zoom: 0.48;
    -moz-transform: scale(0.48);
    margin-bottom: 15px;
  }
  @media only screen and (max-width: 414px){
    zoom: 0.65;
    -moz-transform: scale(0.49);
    margin-bottom: 15px;
  }
  @media only screen and (max-width: 320px){
    zoom: 0.42;
    -moz-transform: scale(0.4);
    margin-bottom: 15px;
  }
}