$nprogress-color: #BB54F5;
$nprogress-height: 6px;
$nprogress-zindex: 10100;
$theme-colors: ( "bootstrap": #bd56a0, "simpleform": #00617f );

@import "bootstrap";
@import "font-awesome";
// @import "summernote";
// @import "codemirror";
// @import "codemirror/themes/solarized";


@import 'nprogress';
@import 'nprogress-bootstrap';

.subuh {
font-family: 'Orbitron', sans-serif;
font-size: 55px;

}

.fajar {
font-family: 'Orbitron', sans-serif;
font-size: 55px

}
.dzuhur {
font-family: 'Orbitron', sans-serif;
font-size: 55px
}
.ashar {
font-family: 'Orbitron', sans-serif;
font-size: 55px
}
.magrib {
font-family: 'Orbitron', sans-serif;
font-size: 55px
}
.isya {
font-family: 'Orbitron', sans-serif;
font-size: 55px
}